<script type="text/javascript" src="javascripts/search.js"></script>

<div id="1" class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <div style="margin-top:20%"> 
            <div class="input-group">
                <input id="searchTerm" type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn controls">
                    <button class="btn btn-default" id="button1" type="button">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div><!-- /.col-lg-6 -->
</div>