<script type="text/javascript" src="javascripts/search.js"></script>

<style>
#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
</style>

<div id="1" class="container">
	<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input id="searchTerm" type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button id="search" type="submit">

                        </button>  
                        <button id="button1" type="button">
                            Submit
                        </button>
                            
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>